version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
      time: '07:00'
      timezone: America/Los_Angeles
    open-pull-requests-limit: 20
    reviewers:
      - michaeljaltamirano
    assignees:
      - michaeljaltamirano
    ignore:
      - dependency-name: '@babel/cli'
      - dependency-name: '@babel/plugin-proposal-class-properties'
      - dependency-name: '@babel/plugin-proposal-export-default-from'
      - dependency-name: '@babel/plugin-transform-parameters'
      - dependency-name: '@babel/preset-env'
      - dependency-name: '@babel/preset-react'
      - dependency-name: '@babel/preset-typescript'
      - dependency-name: '@babel/register'
      - dependency-name: '@emotion/babel-preset-css-prop'
        versions:
          - '> 10.0.27'
      - dependency-name: emotion-theming
        versions:
          - '> 10.0.27'
      - dependency-name: eslint-plugin-emotion
        versions:
          - '> 10.0.27'
      - dependency-name: husky
        versions:
          - '>= 5.a'
          - '< 6'
      - dependency-name: jest-emotion
        versions:
          - '> 10.0.32'
      - dependency-name: react-is
        versions:
          - '> 16.13.1'
      - dependency-name: react-slick
        versions:
          - '>= 0.27.a'
          - '< 0.28'
      - dependency-name: regenerator-runtime
        versions:
          - '>= 0.13.6.a'
          - '< 0.13.7'
      - dependency-name: '@rollup/plugin-node-resolve'
        versions:
          - '>= 8.4.a'
          - '< 8.5'
      - dependency-name: '@storybook/addon-a11y'
      - dependency-name: '@storybook/addon-actions'
      - dependency-name: '@storybook/addon-docs'
      - dependency-name: '@storybook/addon-essentials'
      - dependency-name: '@storybook/addon-knobs'
      - dependency-name: '@storybook/addon-links'
      - dependency-name: '@storybook/addon-storysource'
      - dependency-name: '@storybook/react'
      - dependency-name: '@storybook/source-loader'
      - dependency-name: '@storybook/theming'
      - dependency-name: '@svgr/rollup'
        versions:
          - '> 4.0.3'
          - '< 5'
      - dependency-name: '@types/react'
        versions:
          - '>= 17.0.0.a'
      - dependency-name: '@types/react'
        versions:
          - '>= 17.0.a'
      - dependency-name: '@types/react-dom'
        versions:
          - '>= 17.0.0.a'
      - dependency-name: '@types/react-test-renderer'
        versions:
          - '>= 17.0.0.a'
      - dependency-name: '@typescript-eslint/eslint-plugin'
      - dependency-name: webpack
        versions:
          - '>= 5.a'
          - '< 6'
