{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "curology",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["emotion"],
  "globals": {
    "document": false,
    "window": false
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./.storybook/webpack.config.js"
      }
    },
    "import/extensions": [".js", ".md"]
  },
  "rules": {
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "react/state-in-constructor": 0,
    "react/static-property-placement": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".tsx"] }],
    "import/extensions": [2, { "svg": "always" }]
  },
  "overrides": [
    {
      "files": ["test.js", "test.ts", "test.tsx"],
      "rules": {
        "no-undef": "off",
        "emotion/jsx-import": "error",
        "emotion/no-vanilla": "error",
        "emotion/import-from-emotion": "error",
        "emotion/styled-import": "error"
      }
    },
    {
      "files": ["**/style.js"],
      "rules": {
        "indent": "off"
      }
    },
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/explicit-function-return-type": 0
      }
    },
    {
      "files": ["*.tsx"],
      "rules": {
        "react/prop-types": 0
      }
    }
  ]
}
