{
  "extends": "curology",
  "overrides": [
     {
       "files": ["test.js"],
       "rules": {
         "no-undef": "off"
       }
     }
   ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./.storybook/webpack.config.js"
      }
    },
    "import/extensions": [".js", ".jsx"]
  }

}
