/* Includes just woff2 for Chromatic testing */

@font-face {
  font-family: 'nocturno';
  src: url('/fonts/WF-029669-009918-001560-fa6dd062b0c32d6d9a297bd175bb0381.woff2')
    format('woff2');
}

@font-face {
  font-family: 'skintype-display';
  font-weight: bold;
  src: url('/fonts/skintype-display/SkintypeDisplay-BoldB.woff2') format('woff2'),
  url('/fonts/skintype-display/SkintypeDisplay-BoldB.woff') format('woff');
}

@font-face {
  font-family: 'skintype-text-medium';
  src: url('/fonts/skintype-text/SkintypeText-Medium.woff2') format('woff2'),
  url('/fonts/skintype-text/SkintypeText-Medium.otf') format('otf');
}

@font-face {
  font-family: 'skintype-text-bold';
  font-weight: bold;
  src: url('/fonts/skintype-text/SkintypeText-Bold.woff2') format('woff2'),
  url('/fonts/skintype-text/SkintypeText-Bold.otf') format('otf');
}

@font-face {
  font-family: 'quadrant-text';
  src: url('/fonts/QuadrantText-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'quadrant-text';
  font-style: italic;
  src: url('/fonts/QuadrantText-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'quadrant-text-mono';
  src: url('/fonts/QuadrantTextMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'quadrant-text-mono';
  font-style: italic;
  src: url('/fonts/QuadrantTextMono-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'atkinson-hyperlegible';
  src:  url('/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
}

@font-face {
  font-family: 'atkinson-hyperlegible';
  font-weight: bold;
  src:  url('/fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
}

@font-face {
  font-family: 'atkinson-hyperlegible';
  font-style: italic;
  src:  url('/fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
}

@font-face {
  font-family: 'atkinson-hyperlegible';
  font-weight: bold;
  font-style: italic;
  src:  url('/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2');
}
