{
  "presets": [
    ["@babel/env", {
      "modules": false
    }]
  ],
  "env": {
    "test": {
      "presets": [["@babel/env"], "@babel/react"],
      "plugins": [
        "emotion",
        "transform-svg-import-to-string"
      ]
    }
  }
}
