{
  "presets": [
    ["@babel/env", {
      "modules": false
    }],
    "@babel/react"
  ],
  "env": {
    "test": {
      "presets": [["@babel/env"], "@babel/react"],
      "plugins": [
        "emotion",
        "transform-svg-import-to-string",
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
      ]
    }
  }
}
